.header {
  background: green;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
  background: rgb(150, 150, 58);

  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.haeder-nav {
  display: flex;
}
